@import "variable";

body{
    padding: 0px;
    margin: 0px;
}
.create-account{
    width: 175px;
    margin: 0px 20px 12px 0px;
    padding: 1.5vh 2vw;
    white-space: nowrap;
    color: white;
    background-color: black;
    border-radius: $border;
}
span.freetext{
    color: #027BFE;
}
.p-text{
    text-align: center;
    font-size: 12px;
    line-height: $lineheight;
}
.header{
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 65%;
    width: 100%;
    align-items: center;
    margin-bottom: 5%;
    background-color: #fff;
    
}
img.atelogo{
    padding-left: 15px;
}
img.hamburger{
    padding-top: 10px;

}
.friends{
    font-size: 20px;
    display: none;
}
img.sittinglaptop{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.e-commerce{
    text-align: center;
    padding: 10px 7px 10px 7px;
    margin: 0%;
    font-size: 36px;
}
span.freetext{
    color: #027BFE;
}
.p-text{
    text-align: center;
    font-size: 12px;
    line-height: $lineheight;
}
.e-commerce{
    padding: 10px 7px 10px 7px;
    margin: 0%;
}
.create-store{
width: 270px;
height: 65px;
display: block;
margin-left: auto;
margin-right: auto;
background-color: #027BFE;
border-color: #027BFE;
border-radius: $border;
color: #fff;
font-size: 20px;
margin-bottom: 60px;
}
.didyou{
text-align: center;
padding: 60px 50px 0px 50px ;
margin-left: auto;
display: block;
margin-right: auto;
font-size: 30px;
}
.section-2{
    background-color: #D4E9FF;
    height: 1030px;
}
.womanwithlaptop{
    width: 90%;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
}
.list{
    list-style-type: none;
    padding: 0px 20px 0px 20px;
}
.sec{
    background-color: #fff;
    width: 100%;
}
.ate-text{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 25px;
    padding-right: 0px;
    line-height: 38px;
    letter-spacing: 0.504px;
}
.list-text{
    display: flex;
    padding-bottom: 15px;
}
.bold-text{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 12px;
}
.signup{
    display: none;
}
.sectionbutton{
    width: 290.38px;
    height: 65px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #262B33;
    border-color: #262B33;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}
//breakpoint
@media screen and (min-width: 480px) {
    .section-2{
        height: 1100px;
        .sectionbutton{
            margin-top: 35px;
        }
        .ate-text{
            font-size: 35px;
        }
     
    }
}
@media screen and (min-width: 590px) {
    .section-2{
        height: 1250px;
    }
    .header{
        grid-gap: 70%;
    }
    .atelogo{
        margin-left: 20px;
    }
    
}


// Media Query
@media screen and (min-width: 800px) {
    .friends{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    }
    img.hamburger{
        display: none;
    }
    img.atelogo{
        margin: 0px 0px 15px 40px;
        padding: 20px 0px 0px 20px;
    }
    button.create-account{
        width: 175px;
        margin: 0px 20px 12px 0px;
        padding: 1.5vh 2vw;
        white-space: nowrap;
        color: white;
        background-color: black;
        border-radius: $border;
    }
    .header{
        border-bottom: 0.2px solid #efefefee;
        grid-gap: 25%;
    }
    img.sittinglaptop{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding-bottom: 5%;
    }
    .together{
        margin: 6% 0px 0px 3.5%;

    }
    .e-commerce{
        text-align: left;
        font-size: 64px;
    }
    .p-text{
        text-align: left;
        margin: 10px;
        font-size: 20px;
        line-height: $lineheight;
    }
    .create-store{
        padding: 0px;
        margin: 50px 0px 0px 0px;
        font-size: 40px;
        width: 60%;
        
    }
    .sec{
        display: flex;
        flex-direction: row-reverse;
    }
    .didyou{
  font-size: 60px;
  padding-left: 24.5%;
  padding-right: 24.5%;

    }
    .section-2{
        background-color: #E5E5E5;
        height: 900px;
    }
    .womanwithlaptop{
        width: 40%;
        margin-left: 90px;
        margin-right: 20px;
        margin-top: 15px;
    }
    .signup{
        display: block;
        width: 290.38px;
        height: 65px;
        display: block;
        background-color: #262B33;
        border-color:  #262B33;
        border-radius: 5px;
        color: #fff;
        font-size: 40px;
        margin-left: 25px;
    }
    .sectionbutton{
        display: none;
       
    }
    .womanandlaptop{
        display: flex;
    }
    .ate{
       
        margin-left: 10%;
    }
    .ate-text{
        font-size: 36px;
        padding-left: 20px;
        font-weight: 500;
    }
    
}